git config --global core.excludesfile ~/.gitignore_global

# Images #
#########################

*.tif
*.jpg
*.jpeg
*.png

# MATLAB Figures #
#########################

*.fig

# Microsoft Office Files #
#########################

*.word
*.pptx
