git config --global core.excludesfile ~/.gitignore_global

# Images #
#########################

*.tif
*.jpg
*.jpeg
*.png

# MATLAB Files #
#########################

*.asv
*.fig

# Microsoft Office Files #
#########################

*.word
*.pptx

# MATLAB Files #

*main.m
